@mixin OnBreakpointMin($breakpoint){
  $minWidth: null;
  @each $b, $s in $NGX_GRID_BREAKPOINTS {
    @if ($b == $breakpoint) {
      $minWidth: $s;
    }
  }

  @if ($minWidth != null) {
    @media screen and (min-width: $minWidth) {
      @content;
    }
  }
}

@mixin OnBreakpointMinMax($breakpoint){
  $minWidth: null; $maxWidth: null;
  @each $b, $s in $NGX_GRID_BREAKPOINTS {
    @if ($b == $breakpoint) {
      $minWidth: $s;
    }
    @if ($b != $breakpoint & $maxWidth == null & $minWidth != null) {
      $maxWidth: $s;
    }
  }

  @if ($minWidth != null & $maxWidth == null) {
    @media screen and (min-width: $minWidth) {
      @content;
    }
  }@else if($minWidth != null & $maxWidth != null) {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      @content;
    }
  }
}
