<ngx-grid>

  <!-- grid -->
  <ngx-grid-column>
    <div class="container">
      <div class="title">Grid</div>
      <ngx-grid>
        <ngx-grid-column [size]="12" [lg.style]="'display:none;'" class="column blue">12 / 12</ngx-grid-column>
        <ngx-grid-column [size]="4" class="column green">4 / 12</ngx-grid-column>
        <ngx-grid-group [size]="8">
          <ngx-grid-group [size]="8" [xs:size]="8">
            <ngx-grid-column [size]="3" class="column orange">3 / 12</ngx-grid-column>
            <ngx-grid-column [size]="3" class="column orange">3 / 12</ngx-grid-column>
            <ngx-grid-column [size]="3" class="column orange">3 / 12</ngx-grid-column>
            <ngx-grid-column [size]="3" class="column orange">3 / 12</ngx-grid-column>
            <ngx-grid-column [size]="12" class="column purple">12 / 12</ngx-grid-column>
          </ngx-grid-group>
          <ngx-grid-column [size]="2" [xs:size]="4" class="column yellow">4 / 12</ngx-grid-column>
          <ngx-grid-column *ngxScreenSize="'2xl'" [size]="2" class="column yellow">4 / 12</ngx-grid-column>
        </ngx-grid-group>
      </ngx-grid>
    </div>
  </ngx-grid-column>

  <!-- grid-centered -->
  <ngx-grid-column>
    <div class="container">
      <div class="title">Grid Centered</div>
      <ngx-grid-centered [size]="6">
        <div class="column blue">
          Centered
        </div>
      </ngx-grid-centered>
    </div>
  </ngx-grid-column>

  <!-- grid-alt -->
  <ngx-grid-column>
    <div class="container">
      <div class="title">Grid (CSS-Version)</div>
      <ngx-grid-alt>
        <ngx-grid-alt-column [size]="12" class="column blue">12 / 12</ngx-grid-alt-column>
        <ngx-grid-alt-column [size]="4" class="column green">4 / 12</ngx-grid-alt-column>
        <ngx-grid-alt-group [size]="8">
          <ngx-grid-alt-column [size]="3" class="column orange">3 / 12</ngx-grid-alt-column>
          <ngx-grid-alt-column [size]="3" class="column orange">3 / 12</ngx-grid-alt-column>
          <ngx-grid-alt-column [size]="3" class="column orange">3 / 12</ngx-grid-alt-column>
          <ngx-grid-alt-column [size]="3" class="column orange">3 / 12</ngx-grid-alt-column>
          <ngx-grid-alt-column [size]="12" class="column purple">12 / 12</ngx-grid-alt-column>
        </ngx-grid-alt-group>
      </ngx-grid-alt>
    </div>
  </ngx-grid-column>

  <!-- grid-alt-centered -->
  <ngx-grid-column>
    <div class="container">
      <div class="title">Grid Centered (CSS-Version)</div>
      <ngx-grid-alt-centered [size]="6">
        <div class="column blue">
          Centered
        </div>
      </ngx-grid-alt-centered>
    </div>
  </ngx-grid-column>

</ngx-grid>
